$main_text_color: #333;
$main_color: #45474B;
$text: #FFFDE7;
$color_accent: yellow;
$f-title: 'PT Sans Narrow', sans-serif;
$f-text: 'Montserrat', sans-serif;

/*
'Montserrat', sans-serif
'Playfair Display', serif
'Poiret One', cursive

*/

/*
color
#45474B
*/ 