
<header id="home" class="header">
	<div class="container">
		<div class="row">
			<div class="col-10 col-lg-5 header__content">
				<div class="header__content-container">
					<div class="header__question">Где провести отпуск этим летом?</div>
					<h1 class="header__title">Кинбурнская <span>Коса</span></h1>
					<a class="header__btn" href="#hero"><span>Подробнее</span></a>
				</div>			
			</div>
			<div class="col-2 col-lg-7 header__navigation">
				<div id="toggle" class="toggle"><span></span></div>
				<nav id="navigation" class="navigation">
					<a href="#" class="navigation__item">Главная</a>
					<a href="#" class="navigation__item">Обо мне</a>
					<a href="#" class="navigation__item">О Кинбурне</a>
					<a href="#" class="navigation__item">Условия</a>
					<a href="#" class="navigation__item">Контакты</a>
				</nav>
			</div>
		</div>
	</div>
</header>
