<section id="hero" class="hero">
	<div class="row hero__wrapper">
		<div class="col-12 col-lg-8 hero__photo"></div>
		<div class="col-12 col-lg-4 hero__content"> 
			<h2 class="hero__title">Моя История</h2>
			<div class="hero__info">
				<p>Привет! Меня зовут Марина и я обожаю Кинбурнскую косу. Здесь я сделала первые шаги и куда бы я не шла, все равно приходила к морю.</p>
				<p>Оно тут везде: на горизонте, в солнце, в воздухе. И если Вы, как  я больны морем, степью и лесом то Кинбурн — это то, что Вы искали.</p>
			</div>
		</div>
	</div>
</section> 

