<section class="offers">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5 offers__content">
				<h2 class="offers__title">Заголовок</h2>
				<p class="offers__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми ipsum подпоясал там, семь парадигматическая свой бросил выйти коварный. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p>
				<a href="#" class="offers__btn"><span>Подробнее</span></a>
			</div>
			<div class="col-12 col-sm-11 col-lg-7 offers__photo">
				<img src="img/offers_photo_1.jpg" alt="">
			</div>
		</div>
		<div class="row offers__photos">
			<div class="col-12 col-sm-11 col-lg-6 offers__photo">
				<img src="img/offers_photo_2.jpg" alt="">
			</div>
			<div class="col-12 col-sm-11 col-lg-3 offers__photo">
				<img src="img/offers_photo_3.jpg" alt="">
			</div>
			<div class="col-12 col-sm-11 col-lg-3 offers__photo">
				<img src="img/offers_photo_4.jpg" alt="">
			</div>
		</div>
	</div>
</section>