.hero {
  &__wrapper {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;

    margin-right: 0;
    margin-left: 0;
  }

  &__photo {
    @include fluid(height, 230px, 520px, 320px, 768px, 230px);
    padding: 0;
    
    -webkit-order: 2;
    -ms-order: 2;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;

    background: url(../img/Hero/hero.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &__content {
    -webkit-order: 1;
    -ms-order: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 0;
    @include fluid(padding-top, 40px, 80px, 320px, 768px, 40px);
    @include fluid(padding-bottom, 40px, 80px, 320px, 768px, 40px);
  }

  &__title {
    @include fluid(margin-bottom, 25px, 40px, 320px, 768px, 25px);
    
    font-family: $f-title;
    @include fluid(font-size, 36px, 50px, 320px, 768px, 36px);
    line-height: 1;

    text-align: center;

  }

  &__info {
    width: 73%;
    margin: 0 auto;
    padding: 0;

    background-color: #fff;

    p {
      @include fluid(font-size, 15px, 18px, 320px, 768px, 15px);
      line-height: 1.5;

      text-align: justify;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;


      &:first-child {
        @include fluid(padding-bottom, 15px, 30px, 320px, 768px, 15px);
      }
    }
  }

  &::after {
    display: block;
    @include fluid(margin-top, 40px, 80px, 320px, 768px, 40px);

    width: 60%;
    height: 3px;
    margin: 0 auto;

    content: '';

    background-color: $main_color;
  }
}

@media (min-width: 400px) {
  .hero {
    &__info {
      width: 70%;
    }
  }
}

@media (min-width: 576px) {
  .hero {
    &__info {
      width: 65%;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    &__info {
      width: 60%;
    }
  }
}

@media (min-width: 992px) {
  .hero {
    margin-top: 110px;
    margin-bottom: 80px;

    &__photo {
      @include fluid(height, 500px, 580px, 992px, 1200px, 500px);
      -webkit-order: 1;
      -ms-order: 1;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }

    &__content {
      -webkit-order: 2;
      -ms-order: 2;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      z-index: 50;
      left: -50px;

      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      padding: 0;
    }

    &__title {
      margin-bottom: 20px;
      
      -webkit-align-self: flex-start;
              -ms-flex-item-align: start;
              align-self: flex-start;

      @include fluid(font-size, 50px, 62px, 992px, 1440px, 50px);
    }

    &__info {
      width: 100%;
      @include fluid(padding, 38px, 45px, 992px, 1200px, 38px);

      background: #fff;

      p {
        @include fluid(font-size, 14px, 16px, 992px, 1200px, 14px);

        &:first-child {
          padding-bottom: 15px;
        }
      }

      &::after {
        display: block;

        width: 60%;
        height: 3px;
        margin: 30px auto 0;

        content: '';
        
        background-color: $main_color;
      }
    }

    &::after {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    &__title {
      -webkit-align-self: center;
              -ms-flex-item-align: center;
              -ms-grid-row-align: center;
              align-self: center;
    }
  }
}